.content { 
    padding: 10%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.optionRes{
    display: flex;
    flex-direction:column;

}
h4{
    color: black;
}
.res{
    padding: 25px 0;
}
.left{
    margin: 0 auto;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background: orange;
    font-size: .7rem;
    padding: 10px 30px;
    border-radius: 30px;
    letter-spacing: 1.2px;
    margin-left: 15px;
    border: none;
}
.btn:hover{
    color: orange;
    background: white;
}