.content { 
    padding: 10%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.optionRes{
    display: flex;
    flex-direction:column;

}
h4{
    color: black;
}
.res{
    padding: 25px 0;
}
.left{
    margin: 0 auto;
}